.djn-blogPostHeader {
  text-align: left;
  padding-bottom: 32px;
  margin: 0 auto;
}

.djn-blogPostHeader .blog-title {
  @apply text-blue-dark font-bold;
}

.djn-blogPostHeader .cover-image {
  object-fit: cover;
  max-height: 600px;
  margin: 0 auto;
}

.djn-blogPostHeader .blog-content {
  @apply text-black;

  font-weight: 200;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
}

.djn-blogPostHeader .blog-content strong {
  font-weight: 600;
}
