.djn-footer {
  background-color: config('colors.blue-dark');
  color: config('colors.white');
  display: flex;
  flex-direction: column;
}

.djn-footer .upper {
  display: flex;
  flex-direction: row;
  padding: 46px;
}

.djn-footer .lower {
  padding: 16px;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: config('colors.blue-darker');
  font-size: 12px;
  flex-direction: column;
}

.djn-footer .left {
  flex-grow: 1;
}

.djn-footer .description {
  max-width: 550px;
  text-align: left;
  line-height: 33px;
  margin: 0;
}

.djn-footer .right {
  display: flex;
  flex-direction: row;
}

.djn-footer .col-1,
.djn-footer .col-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 16px;
}

.djn-footer .link {
  min-width: 120px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;

  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.djn-footer .link a {
  color: config('colors.white');
  text-decoration: none;
}

.djn-footer .link a:hover {
  color: config('colors.blue');
}

.djn-footer .logo {
  width: 98px;
  height: 92px;
  margin: 0 48px;
}

.djn-footer .social {
  padding-top: 8px;
}

.djn-footer .social svg {
  width: 24px;
  height: 24px;
}
