.djn-footer {
  background-color: config('colors.blue-darker');
  color: config('colors.white');
  display: flex;
  flex-direction: row;
  height: 240px;
  padding: 0 48px;
}

.djn-footer .navigation {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.djn-footer .link {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin: 8px;
}

.djn-footer .link a {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: config('colors.white');
}

.djn-footer .logo {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.djn-footer .logo svg {
  align-self: center;
  width: 98px;
  height: 92px;
}

.djn-footer .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.djn-footer .social {
  padding-top: 8px;
}

.djn-footer .social svg {
  width: 24px;
  height: 24px;
  margin: 24px 0;
}

.djn-footer .copyright {
  font-size: 14px;
}
