.djn-storefrontsPage .dashboard-grid {
  display: flex;
}

.djn-storefrontsPage .storefronts {
  width: fit-content;
}

.djn-storefrontsPage .dashboard-inner {
  margin-left: 60px;
}

.djn-storefrontsPage .dashboard-inner .header {
  margin: 0;
  margin-bottom: 16px;
}

.djn-storefrontsPage .dashboard-inner .visit-page-btn {
  float: right;
}

.djn-storefrontTile {
  cursor: pointer;

  background-color: config('colors.grey-lighter');
  color: config('colors.grey-darkest');
  margin-bottom: 8px;
}

.djn-storefrontTile.active,
.djn-storefrontTile:hover {
  background-color: config('colors.grey');
  color: config('colors.white');
}
