.djn-albumThumbnailGrid {
  display: grid;
  grid-gap: 40px 80px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 180px));
}

.djn-albumThumbnailGrid .djn-albumThumbnail {
  margin-bottom: 12px;
}
