.blog-title {
  margin-top: 16px;
}

.blog-header {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.blog-header > div {
  margin-right: 4px;
}

.date {
  @apply text-grey;
}

.blog-content {
  @apply text-grey-darker;

  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.blog-content strong {
  font-weight: 600;
}
