.djn-files {
  color: config('colors.grey');
  border-radius: 4px;
  list-style: none;
  text-align: center;
  padding: 0;
  border: 1px solid config('colors.grey-lighter');
}

.djn-files.empty {
  padding: 16px;
}

.djn-files .djn-file + .djn-file {
  border-top: 1px solid config('colors.grey-lighter');
}

.djn-file {
  padding: 4px;
  display: flex;
  color: config('colors.grey');
  margin: 0;
}

.djn-file fieldset {
  margin: 0;
}

.djn-file .drag-handle {
  width: 24px;
  margin: 0 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: drag;
}

.djn-file .track-position {
  width: 24px;
  margin-right: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
}
