.djn-navigation {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.djn-navigation-inner {
  height: 60px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.djn-navigation .logo {
  margin-right: 24px;
  max-width: 140px;
}

.djn-navigation .logo a {
  width: 140px;
}

.djn-navigation .logo,
.djn-navigation .user-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.djn-navigation .user-controls {
  height: 100%;
  align-self: flex-end;
  margin-left: auto;
}

.djn-navigation .user-controls li {
  padding: 20px 0;
  margin: 0 12px;
  height: 100%;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.djn-navigation .user-controls li.active {
  border-bottom: 6px config('colors.red') solid;
}

.djn-navigation .user-controls a {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: config('colors.blue-dark');
}

.djn-navigation .user-controls a:hover {
  color: config('colors.blue');
}

.djn-navigation .user-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.djn-navigation .user-avatar-image {
  border: 1px solid rgba(31, 40, 87, .10);
  border-radius: 8px;
}
