.djn-storefrontAlbumsPageContainer {
  background: linear-gradient(to bottom, #EBEDF7, config('colors.white'));
  min-height: 100vh;
}

.djn-storefrontAlbumsPage {
  padding: 60px 0;
  width: 960px;
}

.djn-storefrontAlbumsPage .album {

  display: flex;
  flex-direction: row;
}

.djn-storefrontAlbumsPage .album-right {
  margin-left: 16px;
  flex: 1;
}

.djn-storefrontAlbumsPage .album-title {
  @apply text-blue-dark;

  font-weight: 900;
  line-height: 33px;
  font-size: 28px;
}

.djn-storefrontAlbumsPage .album-header {
  margin-top: 16px;
  margin-bottom: 32px;
}

.djn-storefrontAlbumsPage .album-purchaseBtn {
  float: right;
}
