.djn-checkoutPage .success-pane {
  display: flex;
  padding: 32px;
}

.djn-checkoutPage .success-pane .album-coverArtUrl img {
  border-radius: 5px;
}

.djn-checkoutPage .success-pane .download-format {
  float: right;
}
