.djn-blogTeaser {
  display: flex;
  padding: 16px 0;
}

.djn-blogTeaser .left {
  flex: 0.5;
}

.djn-blogTeaser .right {
  padding-left: 16px;
  flex: 1;
}

.djn-blogTeaser .cover-image {
  object-fit: cover;
  border-radius: 8px;
}

.djn-blogTeaser .title,
.djn-blogTeaser .date {
  @apply font-bold;
}

.djn-blogTeaser .title,
.djn-blogTeaser .date,
.djn-blogTeaser .summary {
  @apply text-blue-darker text-left;
}

.djn-blogTeaser .title {
  @apply text-4xl;
}

.djn-blogTeaser .date {
  @apply font-mono uppercase text-xs;

  padding-left: 2px;
  margin-top: 8px;
}

.djn-blogTeaser .summary {
  @apply font-light;

  font-size: 16px;
  margin-top: 12px;
  line-height: 33px;
  white-space: pre-line;
}

.djn-blogTeaser .read-more {
  @apply font-bold uppercase;

  margin-top: 8px;
}

.djn-blogTeaser .read-more a {
  @apply text-blue-darker;

  text-decoration: none;
}

.djn-blogTeaser .read-more a:hover {
  @apply text-blue subpixel-antialiased;
}
