.djn-dashboardLayout {
  background: linear-gradient(to bottom, #EBEDF7, config('colors.white'));
}

.djn-dashboardLayout .wrapper {
  display: flex;
  flex-direction: row;
}

.djn-dashboardNavigation {
  @apply rounded;

  width: 240px;
  height: 100%;
  background-color: config('colors.white');
}

.djn-dashboardNavigation .nav-item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.djn-dashboardNavigation .nav-item {
  font-weight: 500;
  color: config('colors.blue-dark');
}

.djn-dashboardNavigation .nav-item:hover,
.djn-dashboardNavigation .nav-item.active {
  background-color: config('colors.red-light');
}

.djn-dashboardNavigation .nav-item.active {
  border-left: 2px solid config('colors.red');
}

.djn-dashboardLayout .content {
  margin-left: 16px;
  width: 100%;
  min-height: 800px;
  background-color: config('colors.white');
  padding: 32px;
}

.djn-dashboardLayout h2 {
  font-weight: 600;
  font-size: 16px;
  color: config('colors.blue-dark');
  margin: 8px 0;
}
